.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
}

.login {
  background-color: #3498db;
  color: #fff;
}

.signup {
  background-color: #2ecc71;
  color: #fff;
}
